* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.mainContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
} 
.singleContainer {
    width: 300px;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: lightgrey;
    padding: 10px 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 30px;
}
.flagContainer {
    width: 95%;
    height: auto;

}
.flagContainer > img {
    width: 100%;
    height: auto;
    border-radius: 7px;

}
.infoTable {
    border-collapse: collapse;
}
.countryTitle, .capitalTitle {
    min-width: 80px;
    font-weight: 500;
    text-align: right;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px dotted blue; */
}
.countryName, .capitalName {
    text-align: left;
}
.flexRowCenter {
    display: flex;
    justify-content: center;
}