* {
    font-family: Circular Regular, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #1e1e1e, #121212);
    overflow: auto;
}

@font-face {
    font-family: "Circular Regular";
    src: url("./assets/CircularStd-Regular.otf")
}
@font-face {
    font-family: "Circular Light";
    src: url("./assets/CircularStd-Light.otf")
}
@font-face {
    font-family: "Circular Bold";
    src: url("./assets/CircularStd-Bold.otf")
}
@font-face {
    font-family: "Circular Black";
    src: url("./assets/CircularStd-Black.otf")
}