* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviewCardCtnr {
    width: 375px;
    min-height: 180px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    margin-top: 50px;
}
/* .profilePicCtnr {
    border: 1px dotted green;
} */
.profilePic {
    width: 15%;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    top: 9%;
    left: 4.5%;
}
.profileName {
    width: 70%;
    height: 25px;
    font-size: 120%;
    font-weight: 700;
    /* border: 1px dotted red; */
    position: absolute;
    top: 18%;
    left: 23%;

}
.reviewTxt {  /* abide max char length */
    width: 90%;
    height: 70px;
    /* border: 1px dotted blue; */
    position: absolute;
    bottom: 10%;
    right: 5%;
    overflow: scroll;
}
.stars {
    position: absolute;
    top: 30%;
    left: 23%;
    /* border: 1px dotted blue; */
    width: 100px;
}
.checked {
    color: gold;
  }